{% extends 'layout.html' %}

{% block body %}
 
 <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron text-center">
        <div class="container">
          <h1 class="display-3">The World of Sports</h1>
          <p>Get all the news and information of all sports across the world.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

{% endblock %}